extends layout

block content
  .wrapper
    h1 www2pdf
    form(action='/2pdf/' method='post')
      .searchBar
        input.searchInput(id='url' type='text' placeholder='Enter a url...')
        button.submitButton(type='submit')
          span.material-icons picture_as_pdf

